
div,header,ul,li,section,nav,footer,h1,h2,h3,h4 {margin:0;padding:0;}
li { list-style: none; }
a { text-decoration: none}

body {
	background: #f2f4f7;
}

.header,.mainArea > .newsNavigation, .mainArea > .content {
	padding:10px;
	border: 1px solid #ebeef3;
	background: #fff;
}

.wrap {
	width:800px;
	margin: 150px auto 0px;
}

.wrap, .newsNavigation, .content {
	height: 200px;
}

.header {
	overflow: auto;
	border-bottom: 0;
	position: relative;
}

.header > ul{
	float:left;
}

.header > ul > li {
	display: inline-block;
}

.header > ul > li:first-child::after {
	content: '|';
	padding: 0 0.8rem;
	color: #ebeef3;
}

.header > .btn {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 1.2rem;
}

.left, .right {
	display: inline-block;
	padding: 0.5rem 0.8rem;
	border-left: 1px solid #ebeef3;
}

.left {
	padding-right: 0.6rem;
}

.left a, .right a {
	color: #666;
}

.left a:hover, .left a:active, .right a:hover, .right a:active {
	color: #00ab33;
}

/* .left {
	margin-right: 10px;
} */

.mainArea {
	clear:both;
	overflow: auto;
}

.mainArea > .content {
	border-left: none;
}

.newsList {
	overflow: hidden;
    clear: both;
}

.newsNavigation, .content , .newsList > ul {
	float: left;
	box-sizing: border-box;
}

.newsNavigation{
	width:200px;
	border-right: 0;
}

.newsNavigation li {
	font-size: 13px;
    cursor: pointer;
    margin-bottom: 2%;
}

.newsNavigation a {
	color: #666;
}

.newsNavigation a:hover {
	text-decoration: underline;
}

.newsNavigation .active a {
	color: #00ab33;
	font-weight: bold;
}

.content {
	width:600px;
	overflow: auto;
}

.content > h4 {
	height: 26px;
}

.content .logo-wrap {
	float:left;
}

.content a {
	padding: 0.1rem 0.4rem 0 0.4rem;
	border: 1px solid #e5e8ef;
	border-radius: 0;
	color: #666;
}

.content .company {
	max-width: 80%;
}

.newsList > .img-title-wrap , .newsList > ul{
	float: left;
}

.newsList > .img-title-wrap {
	width : 38%;
	position: relative;
}

.title-desc {
	background-color: #4e4a4ae0;
  position: absolute;
  bottom: 5px;
  width: 99%;
  height: 45px;
  color: #fff;
  padding: 2%;
  box-sizing: border-box;
  font-size: 0.8em;
}

.newsList > ul {
	margin-left:2%;
	width : 60%;
}
	
.newsList  img, .newsList > ul  {
	height: 150px;
}

.newsList ul {
	padding: 5px 10px 10px 10px;
	background: #fff;
}

.newsList ul li {
	text-overflow: ellipsis;
  white-space: nowrap;
	font-size: 14px;
  margin: 2%;
	cursor: pointer;
}

.newsList ul li:hover {
	text-decoration: underline;
}

.news-config {
	margin-top: 5%;
  width: 800px;
}

.news-config ul {
	overflow: hidden;
}

.news-config li {
	float:left;
	width:20%;
	margin-bottom: 3%;
}